@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a class="btn btn-primary" asp-controller="room" asp-action="book">Book a room with us today!</a>
    </p>
</div>
