@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Successful</h1>
    <h4>
        Your booking for the room has been canceled. It is now available to the public for booking.
    </h4>
</div>
